@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100% /* hsl(0 50% 0%) */;
    /*--foreground: 222.2 84% 4.9%*/; 
    --foreground: var(--oceanic);
    
    --primary: 0 100% 45% /* hsl(0 100% 45%) */;
    --primary-foreground: 210 40% 98% /* hsl(210 40% 98%) */;

    --secondary: 210 40% 96.1% /* hsl(210 40% 96.1%) */;
    --secondary-foreground: 222.2 47.4% 11.2% /* hsl(222.2 47.4% 11.2%) */;

    --oceanic: 204 57% 15% /* hsl(204 57% 15%) */;
    --oceanic-foreground: 0 0% 100% /* hsl(0 0% 100%) */;
    
    --blood: 6 97% 28% /* hsl(6 97% 28%) */;
    --blood-foreground: 0 0% 100% /* hsl(0 0% 100%) */;

    --card: 0 0% 100% /* hsl(0 0% 100%) /* background dos blocos de conteudo */;    
    /*--card-foreground: 222.2 84% 4.9% /* hsl(222.2 84% 4.9%) /* texto dos blocos de conteudo */;
    --card-foreground: var(--oceanic);

    --popover: 0 0% 100% /* hsl(0 0% 100%) */;
    /*--popover-foreground: 222.2 84% 4.9% /* hsl(222.2 84% 4.9%) */;    
    --popover-foreground: var(--oceanic);

    --muted: 210 40% 96.1% /* hsl(210 40% 96.1%) */;
    --muted-foreground: 215.4 16.3% 46.9% /* hsl(215.4 16.3% 46.9%) */;

    --accent: 210 40% 96.1% /* hsl(210 40% 96.1%) */;
    /*--accent-foreground: 222.2 47.4% 11.2% /* hsl(222.2 47.4% 11.2%) */;
    --accent-foreground: var(--oceanic);

    --destructive: 0 84.2% 60.2% /* hsl(0 84.2% 60.2%) */;
    --destructive-foreground: 210 40% 98% /* hsl(210 40% 98%) */;

    --border: 214.3 31.8% 91.4% /* hsl(214.3 31.8% 91.4%) */;
    --input: 214.3 31.8% 91.4% /* hsl(214.3 31.8% 91.4%) */;
    /*--ring: 222.2 84% 4.9% /* hsl(222.2 84% 4.9%) */;
    --ring: var(--oceanic);

    --radius: 0.5rem;

    /*--sidebar-background: 0 0% 98% /* hsl(0 0% 98%) */;
    --sidebar-background: 0 100% 45% /* hsl(0 100% 45%) */;

    /*--sidebar-foreground: 240 5.3% 26.1% /* hsl(240 5.3% 26.1%) */;
    --sidebar-foreground: 122 0% 100% /* hsl(122 0% 100%) /* texto dos itens da sidebar*/;    

    /*--sidebar-accent: 240 4.8% 95.9% /* hsl(240 4.8% 95.9%) */;
    --sidebar-accent: 204 57% 15% /* hsl(204 57% 15%) /* hover no background dos itens da sidebar*/;

    /*--sidebar-accent-foreground: 240 5.9% 10% /* hsl(240 5.9% 10%) */;
    --sidebar-accent-foreground: 0 0% 100% /* hsl(0 0% 100%) /* hover no texto dos itens da sidebar*/;

    --sidebar-border: 220 13% 91% /* hsl(220 13% 91%) /* borda dos itens da sidebar*/;    

    --sidebar-ring: 217.2 91.2% 59.8% /* hsl(217.2 91.2% 59.8%) */;
    /*--sidebar-primary: 240 5.9% 10% /* hsl(240 5.9% 10%) */;
    --sidebar-primary: 217.2 91.2% 59.8% /* hsl(217.2 91.2% 59.8%) */;
    /*--sidebar-primary-foreground: 0 0% 98% /* hsl(0 0% 98%) */;
    --sidebar-primary-foreground: 217.2 91.2% 59.8% /* hsl(217.2 91.2% 59.8%) */;
  }

  .dark {
    --background: 222.2 84% 4.9% /* hsl(222.2 84% 4.9%) /* background da pagina*/;
    --foreground: 210 40% 98% /* hsl(210 40% 98%) /* cor de alguns icones*/;

    --card: 222.2 84% 4.9% /* hsl(222.2 84% 4.9%) /* background dos blocos de conteudo*/;
    --card-foreground: 210 40% 98% /* hsl(210 40% 98%) /* texto dos blocos de conteudo*/;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1, h2{
    @apply text-primary;
  }
}
